<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href ="/assets/img/Capture.JPG" rel="icon" type="Images/svg"> 
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/coutdown.css">
    <script src="/js/countdown.js"></script>
    <title>TheGoatEncryptor - Énigme n°4</title>
</head>
<body>
    <form action="" method="POST">
            <div class="header">
                <div class="header__texture"></div>
                <div class="header__mask">
                    <svg width="100%" height="150%" viewBox="0 0 100 100" preserveAspectRatio="none">
                        <path class="path" d="M0 100 L 0 0 C 25 100 75 100 100 0 L 100 100" fill="#202020"></path>
                    </svg>
                </div>
                <div class="container">
                    <h3 id= numberEnigma>N° 4/4</h3>
                    <div class="thegoat">
                        <pre>
                ,--._,--.
               ,'  ,'   ,-`.
    (`-.__    /  ,'   /
     `.   `--'        \__,--'-.
       `--/       ,-.  ______/
         (o-.     ,o- /
          `. ;        \
           |:          \
          ,'`       ,   \
         (o o ,  --'     :
          \--','.        ;
           `;;  :       /
            ;'  ;  ,' ,'
            ,','  :  '
            \ \   :
             `
                        </pre>
                        <h1>TheGoatEncryptor</h1>
                    <div class="header__navbar">
                        <div class="hearder__navbar--logo">
                        </div>
                        <div class="hearder__navbar--menu">
                            <a class="menu1" href="" class="header__navbar--menu-link"><i class="fas fa-map-pin"></i> Nothing here ...</a>
                            <a class="menu2" href="" class="header__navbar--menu-link"><i class="fab fa-github"></i> C'est bugué non ?</a>
                        </div>
                    </div>
                    <div class="header__instruction">
                        <h2 class="header__instruction--titre"> Enigme n°4</h2>
                        <h3 class="header__instruction--titre-detail">Le Timer</h3>
                    </div>
                </div>
            </div>
        
    <div>
        <h2>Vous passerez à l'étape suivante dans : </h2>
        <span id="countdown">02:00:00</span>
    </div>
</body>
</htm
