<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheGoatEncryptor - Énigme n°7</title>
    <link rel="stylesheet" href="/css/snowden.css">
    <script src="/js/toServer.js"></script>
</head>
<body>
    <h1>ToServer</h1>
    <span>G9aPC7nR3FyE9qkJ7yU0NZM8fMjYdUsQxU4UG+YVyyLx4WYjdQYYTzyUbazCTO7vzrnWbwwVntUeU20jv+pwpJy7/1fbeXqcwXuWwSi1/1YG9IfhAfYRRfT4W75Z+d4wm3c6ku7lB2uDf+cg0xIxfIeq1kwG1pgvouDbHgK2k50=</span>
        <br>
    <button onclick="sendToServer()">Send to server</button>
    <input type="text" id="answerinput">
    <input type="button" value="Valider" id="submiter">
    <script src="/js/answer.js"></script>
</body>
</html>