<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <h1>Page WEB</h1>

        <form>
            <p id="formulaire">
                <input class="BUTTON1"  
                type = "button" 
                value="Clique sur ce bouton" 
                >
                <div>
                    <input type ="text" class= "text" placeholder="Ecris ici !">
                </div>
            </p>
        </form>
    </body>
</html>