<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com"> <!--L'élément HTML <link> définit la relation entre le document courant et une ressource externe. Cet élément peut être utilisé pour définir un lien vers une feuille de style, vers les icônes utilisées en barre de titre ou comme icône d'application sur les appareils mobiles.-->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/Fullpub.css">
    <title>Test</title>
</head>
<body>
    <form action="" method="POST">
        <div class="header">
            <div class="header__texture"></div>
            <div class="header__mask">
                <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <path class="path" d="M0 100 L 0 0 C 25 100 75 100 100 0 L 100 100" fill="#fff"></path>
                </svg>
            </div>
            <div class="container">
                <div class="header__navbar">
                    <div class="hearder__navbar--logo">
                    </div>
                    <div class="hearder__navbar--menu">
                        <a class="menu1" href="" class="header__navbar--menu-link"><i class="fas fa-map-pin"></i> Nothing here ...</a>
                        <a class="menu2" href="" class="header__navbar--menu-link"><i class="fab fa-github"></i> C'est bugué non ?</a>
                    </div>
                </div>
                <div class="header__instruction">
                    <h2 class="header__instruction--titre"> Enigme n°</h2>
                    <h3 class="header__instruction--titre-detail">Bravo vous avez trouvé l'indice !</h3>
                </div>
            </div>
        </div>
    </form>
        <div class="indice">
            <p>Cette page semble un peu vide non ? </br>Les développeurs se sont bien cachés ! Retrouvez en au moins un !</p>
        </div>


        <script src="../assets/js/indice.js"></script>


</body>
</html>

