<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com"> <!--L'élément HTML <link> définit la relation entre le document courant et une ressource externe. Cet élément peut être utilisé pour définir un lien vers une feuille de style, vers les icônes utilisées en barre de titre ou comme icône d'application sur les appareils mobiles.-->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/spam.css">
    <script src="/js/spam.js" defer></script>
    <script src="/js/answer.js" defer></script>
    <title>TheGoatEncryptor - Énigme n°3</title>
</head>
<body>
        <div class="header">
            <div class="header__texture"></div>
            <div class="header__mask">
                <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <path class="path" d="M0 100 L 0 0 C 25 100 75 100 100 0 L 100 100" fill="#fff"></path>
                </svg>
            </div>
            <div class="container">
                <div class="header__navbar">
                    <div class="hearder__navbar--logo">
                    </div>
                    <div class="hearder__navbar--menu">
                        <a class="menu1" href="" class="header__navbar--menu-link"><i class="fas fa-map-pin"></i> Nothing here ...</a>
                        <a class="menu2" href="" class="header__navbar--menu-link"><i class="fab fa-github"></i> C'est bugué non ?</a>
                    </div>
                </div>
                <div class="header__instruction">
                    <h2 class="header__instruction--titre"> Énigme n°3</h2>
                    <h3 class="header__instruction--titre-detail">Trouvez le mot de passe</h3>
                </div>
            </div>
        </div>
        <div class="egnime1">
            <h3 class="result">Entrer votre réponse :</h3>
            <input class="input" type="text" name="string" id="answerinput">
            <input class="submit" type="submit" id="submiter" value="Valider">
        </div>
        <div class="spam_langouste">
            <a href="https://fr.wikipedia.org/wiki/Palinuridae">La langouste est un animal marin.</a>
        </div>

        <div class="spam_tombola">
            <img src="/img/tombola_v.jpg"width="273" height="408">
        </div>

        <div>
            <a href="https://jacksonpollock.org/"><input type="button" class="spam_bouton1" value="Cliquez ici ! Vraiment cliquez ici c'est important !!!"></a>
        </div>

      <div class="spam_chevre">
        <img src="/img/chevre.jpg" width="375" height="211">
      </div>

      <div>
        <a href="https://smashthewalls.com/"><input type="button" class="spam_bouton2" value="Cassons la glace :)"></a>
    </div>

    <div>
        <input type="button" class="spam_bouton3" value="Besoin d'aide ?"></a>
    </div>

    <div class="spam_dev">
        <p>Tu te sens seul(e) ?</br> Découvre des développeurs près de chez toi dès maintenant ;)</p>
        <a href="/clue"><img src="/img/dev.jpg" width="380" height="180"></a>
        
    </div>

    <audio src="/audio/Music.mp3"></audio>
</body>
</html>
