<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com"> <!--L'élément HTML <link> définit la relation entre le document courant et une ressource externe. Cet élément peut être utilisé pour définir un lien vers une feuille de style, vers les icônes utilisées en barre de titre ou comme icône d'application sur les appareils mobiles.-->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/teleport.css">
    <title>TheGoatEncryptor - Énigme 6</title>
</head>
<body>
        <div class="header">
            <div class="header__texture"></div>
            <div class="header__mask">
                <svg width="100%" height="150%" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <path class="path" d="M0 100 L 0 0 C 25 100 75 100 100 0 L 100 100" fill="#202020"></path>
                </svg>
            </div>
            <div class="container">
                <h3 id="numberEnigma">N° 6/4</h3>
                <div id="clear-countdown-text">CLEAR SESSION : <span id="clear-countdown">10:00</span></div>
                <div class="thegoat">
                    <pre>
            ,--._,--.
           ,'  ,'   ,-`.
(`-.__    /  ,'   /
 `.   `--'        \__,--'-.
   `--/       ,-.  ______/
     (o-.     ,o- /
      `. ;        \
       |:          \
      ,'`       ,   \
     (o o ,  --'     :
      \--','.        ;
       `;;  :       /
        ;'  ;  ,' ,'
        ,','  :  '
        \ \   :
         `
                    </pre>
                    <h1>TheGoatEncryptor</h1>
                <div class="header__instruction">
                    <h2 class="header__instruction--titre"> Énigme n°6</h2>
                    <h3 class="header__instruction--titre-detail">Bouton dissident</h3>
                </div>
            </div>
        </div>
        <div class="egnime1">
            <br>
            <br>
            <br>
            <button id="teleporter">
                <span>VALIDER</span>
            </button>
        </div>
    <script src="/js/teleport.js"></script>
</body>
</html>