<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href ="/assets/img/Capture.JPG" rel="icon" type="Images/svg"> 
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/coutdown.css">
    <title>TheGoatEncryptor</title>
    <script src="/assets/js/toServer.js"></script>
</head>
<body>
    <form action="" method="POST">
            <div class="header">
                <div class="header__texture"></div>
                <div class="header__mask">
                    <svg width="100%" height="150%" viewBox="0 0 100 100" preserveAspectRatio="none">
                        <path class="path" d="M0 100 L 0 0 C 25 100 75 100 100 0 L 100 100" fill="#202020"></path>
                    </svg>
                </div>
                <div class="container">
                    <h3 id= numberEnigma>N° ?/?</h3>
                    <div class="thegoat">
                        <pre>
                ,--._,--.
               ,'  ,'   ,-`.
    (`-.__    /  ,'   /
     `.   `--'        \__,--'-.
       `--/       ,-.  ______/
         (o-.     ,o- /
          `. ;        \
           |:          \
          ,'`       ,   \
         (o o ,  --'     :
          \--','.        ;
           `;;  :       /
            ;'  ;  ,' ,'
            ,','  :  '
            \ \   :
             `
                        </pre>
                        <h1>TheGoatEncryptor</h1>
                    <div class="header__instruction">
                        <h2 class="header__instruction--titre"> Enigme n°?</h2>
                        <h3 class="header__instruction--titre-detail">To Server</h3>
                    </div>
                </div>
            </div>
        
    <div class="button">
        <button id="valid" onclick="sendToServer()">Send to server</button>
    </div>
</body>
</htm
