body, html {  
  margin: 0;
  padding: 0; 
  font-family: 'Nunito';
  background-color:#636e72; 
}

.container { 
  width: 90%;
  margin: auto;
  position: relative; 
  z-index: 999; 
}
.header { 
  height: 450px; 
  width: 100%; 
  background: rgb(0, 0, 0); 
  position: relative; 
}

.header__texture { 
  width: 100%; 
  height: 100%; 
  position: absolute; 
  left: 0; 
  background: url('../img/Matrix_Code_Animation_Gif_Free_Animated_Background.gif') center no-repeat;
  background-size: cover;
  z-index: 1; 
  opacity: 0.6; 
}

.header__mask { 
  position: absolute; 
  bottom: 0; 
  background: 0 0;
  height: 42px; 
  width: 100%;
  z-index: 10;
} 

.header__instruction { 
  text-align: center;
  color: #fff;
  margin-top: 100px;
}

.header__instruction--titre { 
  font-size: 40px; 
}

.header__instruction--titre-detail { 
  font-size: 30px; 
  font-family: 'Inconsolata'; 
}

.menu1 {
  color: rgba(0, 0, 0, 0);
}

.menu2 {
  color: rgba(0, 0, 0, 0);
}

.button{
  text-align: center;
  padding: 14px 40px;
  
}
.valid{
  width: 150px;
  height: 50px;
  border-radius: 8px;
  background-color: #1f1f1f;
  color: #fff;
}

/* .help{
  text-align: end;
  padding: 14px 40px;
}

.Aide{
  width: 150px;
  height: 50px;
  border-radius: 8px;
  background-color: #1f1f1f;
  color: #fff;
  
} */

.input {
  border: 1px solid #2ecc71;
}